.grid_container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
}

.app {
  text-align: center;
}

.appHeader{
  grid-area: header;
  background-color: #222;
  color: white;
}

.main {
  grid-area: main;
  
  background-color: aqua;
}

.footer {
  grid-area: footer;
  color: white;
  padding-top: 100px;
  height: 100px;
  background-color: #222;
}