.ul {
  padding:0;
  list-style:none;
  width: 30%;
  margin:auto;
}

.li {
  font-size:1.2rem;
  line-height: 2rem;
  border-bottom: 1px groove rgb(255, 0, 0);
}


.ul li:hover{
    color: green;
    font-size: xx-large;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: whitesmoke;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

  left: -100%;
  animation: openning-sidebar .15s forwards;
}

/* The sidebar menu */
.sidebar.close{
  animation: closing-sidebar 1.0s forwards;
  left: 0;
}


@keyframes openning-sidebar {
    100% {left: 0;}
}

@keyframes closing-sidebar {
    100% {left: -100%;}
}