.wrapper{
    display: grid;
    column-gap: 20px;
    grid-template-columns: 3;

    padding: 20px 0;
    border-bottom: 2px solid #222;
    margin: auto;
    width: 50%;

    text-align: center;
}

.searchText{
    grid-column: 1;

    margin: 0 20px;
    padding: 5px 8px;
    border-color: black;
}

.sortBySelect{
    grid-column: 2;

    margin: 0 20px;
    padding: 5px 8px;
    border-color: black;
}

.submitButton{
    grid-column: 3;

    font-size: 20px; 
    cursor: pointer;
    background-color:white;
    padding: 5px 8px;
    margin: 0 20px;
    border-width: 3px;
    border-color: black;
}