.openBtnWrapper{
  text-align: right;
  padding: 5% 10% 0 0;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.ul {
  margin: 10% 5%;
  text-align: left;
  list-style:none;
  width: 70%;
}

.ul a { /* refer to Link balise */
  color: rgb(226, 217, 209);
  font-size:25px;
  line-height: 3rem;
  text-decoration: none;
}

.ul a:hover{
  color: white;
  font-size: x-large;
} 

.contact {
  margin: 10% 10%;
  padding: 2%;
  border-color: #111;
  border-radius: 5%;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(121, 191, 238);
  text-align: left;
  font-size: 17px;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 40%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: grey;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

  left: -100%;
  animation: openning-sidebar .15s forwards;
}

/* The sidebar menu */
.sidebar.close{
  animation: closing-sidebar .3s forwards;
  left: 0;
}


@keyframes openning-sidebar {
    100% {left: 0;}
}

@keyframes closing-sidebar {
    100% {left: -100%;}
}

@media screen and (max-width:750px){
  .sidebar {
    width: 80%;
  }
}